@use "../../common/styles/utils/index" as *;

.truck {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid var(--brown);
  background-color: var(--light);
  align-items: center;

  &__img {


    img {
      border-radius: 10px;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }


    // width: 292px;

  }


  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__headUp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0 24px;

  }

  &__title,
  &__price {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.33;
  }

  &__titleRight {
    display: flex;
    align-items: center;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    color: var(--brown);
    text-overflow: ellipsis;
  }

  &__btn {
    @include btn;
  }
}

/* .truckPrice {

} */

.favoriteButton,
.favoriteActive {
  margin-left: 12px;
  height: 24px;
  flex: 1 0 0;
  fill: var(--dark);
  stroke: var(--dark);
  stroke-width: 0.1;
}

.favoriteActive {
  fill: var(--red);
  stroke: var(--red);
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1000px) {
  .truck {
    // flex-direction: row;
    // padding: 24px;
    // gap: 24px;
    // flex-wrap: nowrap;
    // align-items: flex-start;

    &__img {}

    &__info {

      // flex-direction: column;
      // align-items: flex-start;
      // gap: 24px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .truck {

    flex-direction: row;
    padding: 24px;
    gap: 24px;
    flex-wrap: nowrap;

    &__img {
      // flex: 2 1 0;
      height: 348px;
      width: 292px;

      img {}
    }



    &__info {
      max-width: 524px;
      // flex: 1 1 0;
      align-items: flex-start;
    }
  }
}