.loader {
  width: 527px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;

  p {
    margin-top: 10px;
    font-size: 18px;
    color: #475467;
  }

}