.detailsInfo {

  &__nav {
    display: flex;
    gap: 40px;
    padding-bottom: 22px;
    border-bottom: 1px solid #dadde1;
    margin-bottom: 44px;

    &_btn {
      color: var(--Main, #101828);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
    }

    &_btnActive {
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-offset: 24px;
      text-decoration-thickness: 5px;
      text-decoration-color: #e44848;
    }
  }

  &__div {
    display: flex;
    gap: 40px;
  }
}