@use "../../common/styles/utils/index" as *;

.booking {

  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--brown);
  // min-width: ;
  // max-width: 720px;
  margin: 0 auto;

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  &__text {
    color: var(--brown);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  &__form {
    // max-width: 720px;
    // width: 100% !important;
    // max-width: 527px !important;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    position: relative;

    &_inputWrapper {
      position: relative;
      // width: 527px;
      width: 100%;
    }

    &_input {
      border: 1px solid transparent;
      transition: all 0.3s ease;
      border-radius: 12px;
      background: var(--white);
      padding: 18px;
      border: none;
      width: 100%;
      outline: none;
      border: 1px solid var(--white);
      color: var(--dark);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;

      &::placeholder {
        color: var(--brown);
      }

      &:focus {
        border: 1px solid var(--brown);
      }

      &:hover {
        border: 1px solid var(--brown);
      }
    }

    &_date {
      border-radius: 12px;
      background: var(--white);
      padding: 18px;
      border: none;
      // width: 100% !important;
      // max-width: 527px !important;

      box-sizing: border-box;
      outline: none;
      transition: border 0.4s ease;
      border: 1px solid var(--white);
      color: var(--dark);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    textarea {
      height: 118px;
      resize: none;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        margin: 3px;
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--brown);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }
    }

    &_btn {
      @include btn;
    }
  }

  .inputError {
    border: 1px solid var(--red);
    background-color: var(--powder);
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--powder);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &_content {
      background: var(--white);
      padding: 20px 40px;
      border-radius: 12px;
      // box-shadow: 0 4px 6px var(--powder);
      text-align: center;

      h3 {
        margin-bottom: 10px;
      }

      p {
        color: var(--brown);
      }
    }

    &_gif {
      width: 300px;
      height: 300px;
      margin: 20px auto;
    }
  }
}

@media screen and (min-width: 768px) {
  .booking {
    &__form {
      width: 527px;

      &_inputWrapper {
        //  position: relative;
        // width: 527px;
        //  width: 100%;
      }

      &_date {
        width: 527px;
      }
    }

  }
}

@media screen and (min-width: 860px) {
  .booking {
    padding: 40px;
    // flex: 1;

    &__form {
      width: 420px;

      &_date {
        width: 420px;
      }
    }
  }


}

@media screen and (min-width: 1280px) {
  .booking {
    &__form {
      width: 600px;

      &_inputWrapper {
        //  position: relative;
        // width: 527px;
        //  width: 100%;
      }

      &_date {
        width: 600px;
      }
    }

  }
}