@use "../../common/styles/utils/index" as *;

.booking {
  padding: 40px 57px;
  border-radius: 10px;
  border: 1px solid var(--brown);

  &__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  &__text {
    color: var(--brown);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 24px;
  }

  &__form {
    width: 527px;

    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    position: relative;

    &_input {
      border-radius: 12px;
      background: var(--white);
      padding: 18px;
      border: none;
      width: 100%;
      max-width: 525px;
      box-sizing: border-box;
      outline: none;
      transition: border 0.4s ease;
      border: 1px solid var(--white);
      color: var(--dark);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      &::placeholder {
        color: var(--brown);
      }
    }

    &_input:focus {
      border: 1px solid var(--red);
    }

    &_input:hover {
      border: 1px solid var(--red);
    }

    &_date {
      border-radius: 12px;
      background: var(--white);
      padding: 18px;
      border: none;

      width: 525px;
      box-sizing: border-box;
      outline: none;
      transition: border 0.4s ease;
      border: 1px solid var(--white);
      color: var(--dark);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }

    &_input textarea {
      height: 118px;
      resize: none;
    }

    &_btn {
      @include btn;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--brown);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    &_content {
      background: var(--white);
      padding: 20px 40px;
      border-radius: 12px;
      box-shadow: 0 4px 6px var(--powder);
      text-align: center;

      h3 {
        margin-bottom: 10px;
      }

      p {
        color: var(--brown);
      }
    }

    &_gif {
      width: 300px;
      height: 300px;
      margin: 20px auto;
    }
  }
}
