@import url("react-datepicker/dist/react-datepicker.css");
:root {
  --dark: #121212;
  --light: #f4ede4;
  --brown: #644837;
  --red: #9a3800;
  --powder: #e9dbd3;
  --white: #f7f7f7;
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v49-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v49-cyrillic_latin-300.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/roboto-v49-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/roboto-v49-cyrillic_latin-600.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v49-cyrillic_latin-900.woff2") format("woff2"), url("../fonts/roboto-v49-cyrillic_latin-900.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v49-cyrillic_latin-regular.woff") format("woff");
}
.error__message {
  color: var(--accent);
  font-size: 14px;
  margin-top: 4px;
  display: block;
  width: 100%;
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.react-datepicker__day--selected {
  background-color: var(--brown);
}

.myCustomDatepickerPopper {
  font-family: Roboto, sans-serif;
}

.myCustomDatepickerPopper .react-datepicker {
  border-radius: 12px;
  border: 1px solid var(--brown);
  background-color: var(--light);
  z-index: 1000;
  position: absolute;
}

.myCustomDatepickerPopper .myCustomDatepickerPopper,
.myCustomDatepickerPopper .react-datepicker__header {
  background-color: transparent;
  border-bottom: 1px solid var(--brown);
}

.myCustomDatepickerPopper .react-datepicker__current-month h2 {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.myCustomDatepickerPopper .react-datepicker__day-name {
  color: var(--brown);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.myCustomDatepickerPopper .react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  transition: all 0.3s ease;
}

.myCustomDatepickerPopper .react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: var(--brown);
  opacity: 0.3;
  background: transparent;
}

.myCustomDatepickerPopper .react-datepicker__day:not([aria-disabled=true]):hover {
  background-color: var(--brown);
  border-radius: 40%;
  color: var(--light);
  text-align: center;
}

.myCustomDatepickerPopper .react-datepicker__day--selected {
  background-color: var(--brown);
  color: var(--light);
  border-radius: 40%;
}

.myCustomDatepickerPopper .react-datepicker__triangle {
  display: none;
}

.booking {
  padding: 40px 57px;
  border-radius: 10px;
  border: 1px solid var(--brown);
}
.booking__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}
.booking__text {
  color: var(--brown);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}
.booking__form {
  width: 527px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  position: relative;
}
.booking__form_input {
  border-radius: 12px;
  background: var(--white);
  padding: 18px;
  border: none;
  width: 100%;
  max-width: 525px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.4s ease;
  border: 1px solid var(--white);
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
.booking__form_input:focus {
  border: 1px solid var(--red);
}
.booking__form_input:hover {
  border: 1px solid var(--red);
}
.booking__form_date {
  border-radius: 12px;
  background: var(--white);
  padding: 18px;
  border: none;
  width: 525px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.4s ease;
  border: 1px solid var(--white);
  color: var(--dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.booking__form_input textarea {
  height: 118px;
  resize: none;
}
.booking__form_btn {
  color: var(--light);
  background-color: var(--brown);
  font-weight: 400;
  font-size: 14px;
  border: none;
  width: 120px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.booking__form_btn:after {
  background: var(--light);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}
.booking__form_btn:hover:after {
  left: 120%;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.booking__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.booking__modal_content {
  background: white;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.booking__modal_content h3 {
  margin-bottom: 10px;
}
.booking__modal_content p {
  color: var(--brown);
}
.booking__modal_gif {
  width: 300px;
  height: 300px;
  margin: 20px auto;
}/*# sourceMappingURL=Booking.module.css.map */