@use "../../common/styles/utils/index" as *;

.main {
  min-height: calc(100vh - 88px);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../../assets/bg-home.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


  .container {
    min-height: calc(100vh - 88px);
    padding: 120px 24px;
    color: var(--light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
  }

  h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 32px;
  }

  p {
    font-size: 24px;
  }

  &__btn {
    @include btn;
  }
}

@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 88px);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
      url("../../assets/bg-home-tab.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .container {
      align-items: flex-start;
      padding: 260px 64px;
      justify-content: center;
      gap: 32px;
    }

    h1 {
      margin-bottom: 16px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .main {
    min-height: calc(100vh - 88px);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../../assets/bg-home.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}