@use "../../common/styles/utils/index" as *;

.filter {
  // width: 360px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;

  &__title {
    color: var(--brown);
    line-height: 1.5;
  }

  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 24px;
  }
}

.loc {
  width: 356px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  position: relative;

  &__input {
    height: 56px;
    display: flex;
    gap: 8px;
    padding-left: 46px;
    border-radius: 12px;
    background-color: var(--white);
    outline: none;
    font-size: 16px;
    border: none;
    line-height: 1.5;

    &::placeholder {
      color: var(--brown);
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__map,
  &__activeMap {
    position: absolute;
    top: 51px;
    left: 18px;
    pointer-events: none;
    fill: var(--brown);
    stroke: var(--brown);
    stroke-width: 0.3;
    /* opacity: 0.5; */
    transition: border 0.4s ease;
  }

  &__activeMap {
    fill: var(--dark);
    stroke: var(--dark);
    opacity: 1;
  }

  &__suggestions {

    list-style: none;
    padding: 4px;
    margin: 0;
    border: 1px solid var(--powder);
    max-height: 200px;
    overflow-y: auto;
    background: var(--light);
    position: absolute;
    left: 30px;
    top: 88px;
    z-index: 1000;
    width: 280px;
    border: solid 1px var(--red);
    border-radius: 8px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      margin: 3px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--brown);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &_item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.2s;
      border-radius: 8px;

      &:hover {
        background-color: var(--powder);
      }
    }
  }

}

.filters {
  width: 358px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;

  &__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
    // padding-bottom: 24px;
    // border-bottom: 1px solid var(--brown);
  }

  &__icon {
    display: flex;
    flex-direction: column;
    width: 112px;
    height: 96px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1px solid var(--powder);
    mix-blend-mode: multiply;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid var(--red);
    }



    svg {
      width: 32px;
      height: 32px;
    }
  }

  .active {
    border: 1px solid var(--red);
  }

  &__buttons {
    display: flex;
    gap: 12px;

    &_search {
      @include btn;
    }

    &_reset {
      @include btn;
      background-color: var(--powder);
      color: var(--dark);
    }
  }
}

@media screen and (min-width: 1280px) {
  .filter {
    width: 360px;

    .loc {
      width: 360px
    }

    &__icons {

      gap: 12px;
      // padding-bottom: 24px;
      // border-bottom: 1px solid var(--brown);
    }
  }
}