.header {
  padding: 24px 0;
  max-width: 1440px;
  margin: 0 auto;

  &__container {
    padding: 0 24px;
    display: flex;
    justify-content: end;
    align-items: center;
    /* width: 100%; */
    /* max-width: 1288px; */
    position: relative;
  }

  &__linkwrapper {
    margin-left: auto;
    display: flex;
    gap: 32px;
    align-items: center;
  }

  &__logo {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 136px;
    height: 16px;
  }

  &__link {
    font-weight: 500;
    transition: color 0.4s ease;
    color: #101828;
    font-size: 16px;
    line-height: 1.5;

    &:hover {
      color: #d84343;
    }
  }

  .active {
    color: #d84343;
  }
}



@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {
  /* .header { */

  /* padding: 0 64px;
    display: flex; */
  /* align-items: center; */
  /* } */
}