@use "../../common/styles/utils/index" as *;

.header {
  padding: 24px 0;
  max-width: 1440px;
  margin: 0 auto;

  &__container {
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__linkwrapper {
    margin-left: auto;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__logo {
    width: 136px;
    height: 16px;
  }

  &__link {
    font-weight: 600;
    transition: color 0.4s ease;
    color: var(--dark);
    font-size: 20px;
    line-height: 1.5;

    &:hover {
      color: var(--brown);
    }
  }

  .active {
    color: var(--brown);
  }
}

@media screen and (min-width: 768px) {
  .header {
    &__container {
      padding: 0 24px;
    }

    &__linkwrapper {

      gap: 32px;

    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    &__container {
      padding: 0 64px;
    }
  }
}