@use "../common/styles/utils/index" as *;

.details {
  &__div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 60px;
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__truckHead {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__truckTitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
  }

  &__truckPrice {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 16px 0;
    border-bottom: 1px solid var(--brown);
    border-top: 1px solid var(--brown);
  }

  &__img {
    border-radius: 10px;
    object-fit: cover;
  }

  &__description {
    color: var(--brown);
    font-weight: 400;
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .details {
    &__div {
      padding: 0 8px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .details {
    &__div {
      padding: 0 8px;
    }

    &__gallery {
      justify-content: space-evenly;
    }

    &__img {
      border-radius: 10px;
      max-width: 314px;
      height: 340px;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 1280px) {
  .details {
    &__div {
      padding: 0 64px;
    }

    &__gallery {
      justify-content: space-between;
    }

    &__img {
      max-width: 360px;
    }
  }
}