@use "../common/styles/utils/index" as *;

.catalog {
  display: flex;
  gap: 64px;
  margin: 0 auto;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.errorMessage {
  font-size: 16px;
  margin-bottom: 10px;
}

.errorGif {
  width: 600px;
  height: auto;
}
