@use "../common/styles/utils/index" as *;

.catalog {
  .container {
    // width: 100%;
    display: flex;
    gap: 32px;
    // margin: 0 auto;
    // align-items: center;
    // padding: 0 12px;
    flex-direction: column;
  }

}

.errorContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.errorMessage {
  font-size: 16px;
  margin-bottom: 10px;
}

.errorGif {
  width: 600px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .catalog {
    .container {
      padding: 0 8px;
    }

  }
}

@media screen and (min-width: 1000px) {
  .catalog {
    .container {
      flex-direction: row;
      gap: 12px;
      padding: 0 8px;
    }

  }
}

@media screen and (min-width: 1280px) {
  .catalog {
    .container {
      gap: 64px;
      padding: 0 64px;
      // justify-content: space-between;
    }

  }
}