@use "../../common/styles/utils/index" as *;

.featuresBlock {
  display: flex;
  width: 631px;
  height: 588px;
  padding: 46px 52px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--white);
  box-sizing: border-box;

  &__vehicle {
    margin-top: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
    }

    &_info {
      border-top: 1px solid var(--brown);
      width: 527px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      line-height: 1.5;

      div {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}