@use "../../common/styles/utils/index" as *;

.featuresBlock {
  display: flex;
  width: 100%;
  // height: 588px;
  // padding: 46px 52px;
  padding: 12px;
  flex-direction: column;
  // justify-content: space-between;
  border-radius: 10px;
  gap: 24px;
  background: var(--white);
  box-sizing: border-box;

  &__vehicle {
    margin-top: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
    }

    &_info {
      border-top: 1px solid var(--brown);
      // width: 527px;
      display: flex;
      gap: 16px;
      flex-direction: column;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      line-height: 1.5;
      width: 100%;

      tr {
        // width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .featuresBlock {
    padding: 24px 40px;
    height: 606px;
  }
}

@media screen and (min-width:860px) {
  .featuresBlock {
    padding: 40px 24px;
    height: 606px;
    //  width: 527px;
  }
}

@media screen and (min-width:1280px) {
  .featuresBlock {
    // padding: 24px;
    // padding: 40px 24px;
    height: 606px;
  }
}