@use "../../common/styles/utils/index" as *;

.feature {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  // width: 527px;

  &__item {
    width: fit-content;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    background: var(--powder);
    mix-blend-mode: multiply;

    &_label {
      text-align: center;
      font-size: 16px;
      font-style: normal;
      line-height: 1.25;
    }
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .feature {
    width: 527px;
  }
}