@use "../../common/styles/utils/index" as *;

.trucks {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;

  &__moreBtn {
    @include btn;
    margin: 0 auto 40px;
  }
}

@media screen and (min-width: 1280px) {
  .trucks {
    width: 888px;
  }
}