@use "../../common/styles/utils/index" as *;

.trucks {

  display: flex;
  flex-direction: column;
  gap: 32px;

  &__moreBtn {
    @include btn;
    margin: 40px auto;
  }
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1280px) {
  .trucks {
    width: 888px;
  }
}