@import url("react-datepicker/dist/react-datepicker.css");

.react-datepicker__day--selected {
  background-color: #475467;
}

.myCustomDatepickerPopper .react-datepicker {
  border-radius: 12px;
  border: 1px solid #475467;
  background-color: #ffffff;
  z-index: 1000;
  position: absolute;
}

.myCustomDatepickerPopper .myCustomDatepickerPopper,
.myCustomDatepickerPopper .react-datepicker__header {
  background-color: transparent;
  border-bottom: 1px solid #475467;
}

.myCustomDatepickerPopper .react-datepicker__current-month h2 {
  color: var(--Main, #101828);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.myCustomDatepickerPopper .react-datepicker__day-name {
  color: var(--Text, #475467);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.myCustomDatepickerPopper .react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  transition: all 0.3s ease;
}

.myCustomDatepickerPopper .react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: #475467;
  opacity: 0.3;
  background: transparent;
}

.myCustomDatepickerPopper
  .react-datepicker__day:not([aria-disabled="true"]):hover {
  background-color: #475467;
  border-radius: 40%;
  color: var(--Inputs, #f7f7f7);
  text-align: center;
}

.myCustomDatepickerPopper .react-datepicker__day--selected {
  background-color: #475467;
  color: var(--Inputs, #f7f7f7);
  border-radius: 40%;
}

.myCustomDatepickerPopper .react-datepicker__triangle {
  display: none;
}
