@use "../../common/styles/utils/index" as *;

.truckDetails {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  &__loc,
  &__star {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  &__highlight {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: 6px;
    text-decoration-color: var(--brown);
  }
}