@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/roboto-v49-cyrillic_latin-600.woff2") format("woff2"),
        url("/fonts/roboto-v49-cyrillic_latin-600.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/roboto-v49-cyrillic_latin-regular.woff2") format("woff2"),
        url("/fonts/roboto-v49-cyrillic_latin-regular.woff") format("woff");
}