@use "./variables" as *;

@mixin btn($background-color: var(--brown)) {
  color: var(--light);
  background-color: $background-color;
  font-weight: 400;
  font-size: 14px;
  border: none;
  width: 120px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  z-index: 2;

  &:after {
    background: var(--light);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
  }

  &:hover {
    &:after {
      left: 120%;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
