@use "./variables" as *;

@mixin btn($background-color: var(--brown)) {
    color: var(--light);
    background-color: $background-color;
    font-weight: 600;
    font-size: 20px;
    width: 166px;
    height: 56px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    z-index: 2;

    &:after {
        background: var(--light);
        content: "";
        height: 155px;
        left: -75px;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: 1;
    }

    // position: relative;
    // background: brown;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     inset: 0;
    //     pointer-events: none;
    //     opacity: 1;
    //     mix-blend-mode: overlay;
    //     background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.7' numOctaves='4'/></filter><rect width='200' height='200' filter='url(%23n)'/></svg>");
    // }

    &:hover {
        &:after {
            left: 120%;
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    }
}

// @mixin glass {
//     border-radius: 22px;
//     background: #2928289c;
//     backdrop-filter: blur(16px) saturate(140%);
//     -webkit-backdrop-filter: blur(16px) saturate(140%);
//     border: 1px solid rgba(255, 255, 255, 0.08);
//     box-shadow:
//         0 4px 12px rgba(0, 0, 0, 0.2),
//         0 0 18px rgba(255, 255, 255, 0.1) inset;
// }