section {
  padding: 48px 0;
}

.error__message {
  color: var(--accent);
  font-size: 14px;
  margin-top: 4px;
  display: block;
  width: 100%;
  text-align: center;
}

// .error {
//     border-color: var(--accent);

// }

// .visually-hidden {
//     position: absolute;
//     width: 1px;
//     height: 1px;
//     padding: 0;
//     margin: -1px;
//     overflow: hidden;
//     clip: rect(0, 0, 0, 0);
//     border: 0;
// }

@import url("react-datepicker/dist/react-datepicker.css");

.container {
  border: 1px solid red;
  width: 100%;
  padding: 0 64px;
  max-width: 1440px;
  margin: 0 auto;
}

.react-datepicker__day--selected {
  background-color: var(--brown);
}

.myCustomDatepickerPopper {
  font-family: Roboto, sans-serif;
}

.myCustomDatepickerPopper .react-datepicker {
  border-radius: 12px;
  border: 1px solid var(--brown);
  background-color: var(--light);
  z-index: 1000;
  position: absolute;
}

.myCustomDatepickerPopper .myCustomDatepickerPopper,
.myCustomDatepickerPopper .react-datepicker__header {
  background-color: transparent;
  border-bottom: 1px solid var(--brown);
}

.myCustomDatepickerPopper .react-datepicker__current-month h2 {
  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
}

.myCustomDatepickerPopper .react-datepicker__day-name {
  color: var(--brown);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
}

.myCustomDatepickerPopper .react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background: transparent;
  transition: all 0.3s ease;
}

.myCustomDatepickerPopper .react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  color: var(--brown);
  opacity: 0.3;
  background: transparent;
}

.myCustomDatepickerPopper
  .react-datepicker__day:not([aria-disabled="true"]):hover {
  background-color: var(--brown);
  border-radius: 40%;
  color: var(--light);
  text-align: center;
}

.myCustomDatepickerPopper .react-datepicker__day--selected {
  background-color: var(--brown);
  color: var(--light);
  border-radius: 40%;
}

.myCustomDatepickerPopper .react-datepicker__triangle {
  display: none;
}
